<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pop.backend.mapper.EditionsMapper">


    <select id="getEditionIdByProjectId" resultType="Integer" parameterType="int">
        SELECT edition_id FROM projects WHERE project_id = #{projectId}
    </select>


    <select id="getAverageGradesForLastEditions" resultType="java.util.HashMap">
        WITH year_series AS (
            SELECT generate_series(
                           (SELECT MAX(year) - #{n} + 1 FROM editions),
                           (SELECT MAX(year) FROM editions)
                       ) AS year
            )
        SELECT
            ys.year,
            COALESCE(ROUND(AVG(e.score), 2), 0) AS average_grade
        FROM year_series ys
                 LEFT JOIN editions ed ON ys.year = ed.year
                 LEFT JOIN projects p ON ed.edition_id = p.edition_id
                 LEFT JOIN evaluations e ON p.project_id = e.project_id
        WHERE ed.year IS NOT NULL
        GROUP BY ys.year
        ORDER BY ys.year DESC;
    </select>

</mapper>
