<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pop.backend.mapper.EvaluationsMapper">

    <select id="getEvaluationsByProjectId" resultMap="EvaluationBaseResultMap">
        SELECT
            evaluation_id, project_id, score, comment, state, is_public, created_at
        FROM evaluations
        WHERE project_id = #{projectId}
    </select>

    <select id="getExistingScore" resultMap="EvaluationBaseResultMap">
        SELECT
            *
        FROM evaluations
        WHERE project_id = #{projectId} AND user_id = #{userId} AND role_id = #{roleId} AND score IS NOT NULL LIMIT 1
    </select>


    <select id="hasUserAlreadyEvaluated" resultMap="EvaluationBaseResultMap">
        SELECT
            *
        FROM evaluations
        WHERE project_id = #{projectId} AND user_id = #{userId} LIMIT 1
    </select>


<!--    <select id="getEvaluationByUserProjectEvaluationRole" resultMap="EvaluationBaseResultMap">-->
<!--        SELECT-->
<!--            evaluation_id,-->
<!--            score,-->
<!--            comment,-->
<!--            state,-->
<!--            is_public,-->
<!--            created_at-->
<!--        FROM evaluations-->
<!--        WHERE project_id = #{projectId}-->
<!--          AND user_id = #{userId}-->
<!--          AND evaluation_role_id = #{evaluationRoleId}-->
<!--    </select>-->


    <select id="getEvaluationByUserProjectEvaluationRole" resultMap="EvaluationBaseResultMap">
        SELECT
            *
        FROM evaluations
        WHERE project_id = #{projectId}
          AND user_id = #{userId}
          AND evaluation_role_id = #{evaluationRoleId}
    </select>




    <resultMap id="EvaluationBaseResultMap" type="com.pop.backend.entity.Evaluations">
        <id property="evaluationId" column="evaluation_id"/>
        <result property="score" column="score"/>
        <result property="comment" column="comment"/>
        <result property="state" column="state"/>
        <result property="isPublic" column="is_public"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="evaluationRoleId" column="evaluation_role_id"/>
    </resultMap>

</mapper>
