<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pop.backend.mapper.UserRoleMapper">

    <select id="getUserRelatedToProject" resultMap="UserRoleResultMap">
        SELECT
            ur.user_role_id,
            ur.project_id,
            ur.role_id,
            ur.user_id,
            u.first_name AS user_first_name,
            u.last_name AS user_last_name,
            u.email AS user_email,
            r.role_name
        FROM user_role ur
                 LEFT JOIN users u ON ur.user_id = u.user_id
                 LEFT JOIN roles r ON ur.role_id = r.role_id
        WHERE ur.project_id = #{projectId}
    </select>


    <select id="getUserRoleForProject" resultMap="UserRoleBaseResultMap">
        SELECT *
        FROM user_role
        WHERE project_id = #{projectId} AND user_id = #{userId} AND role_id = #{roleId}
    </select>


    <select id="isTeachingMember" resultMap="UserRoleBaseResultMap">
        SELECT *
        FROM user_role
        WHERE user_id = #{userId}
          AND role_id IN (2, 3) -- Only Supervisor (2) or Reviewer (3)
            LIMIT 1
    </select>


    <select id="isTeachingMember" resultType="int">
        UPDATE
            user_role
        SET
            role_id = #{newRoleId}
        WHERE project_id = #{projectId}
          AND user_id = #{userId}
    </select>

    <select id="isUserInProject" resultType="int">
        SELECT COUNT(*)
        FROM user_role
        WHERE project_id = #{projectId}
          AND user_id = #{userId}
    </select>

    <update id="updateUserRole">
        UPDATE user_role
        SET role_id = #{newRoleId}
        WHERE project_id = #{projectId}
          AND user_id = #{userId}
    </update>

    <select id="insertUserRole" parameterType="com.pop.backend.entity.UserRole">
        INSERT INTO user_role (user_id, role_id, project_id, edition_id)
        VALUES (#{userId}, #{roleId}, #{projectId}, #{editionId})
    </select>

    <!-- <select id="deleteUserRole">
        DELETE FROM user_role
        WHERE
            user_id = #{userId}
            AND role_id = #{roleId}
            AND project_id = #{projectId}
            AND edition_id = #{editionId}
    </select> -->

    <select id="findRolesByUserId" parameterType="com.pop.backend.entity.UserRole">
        SELECT *
        FROM user_role ur
        WHERE ur.user_id = #{userId}
    </select>

    <select id="findMaxUserRoleId" resultType="int">
        SELECT COALESCE(MAX(user_role_id), 0) FROM user_role
    </select>

    <select id="findRole" resultType="com.pop.backend.entity.UserRole">
        SELECT *
        FROM user_role
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
            <if test="projectId != null">
                AND project_id = #{projectId}
            </if>
            <if test="editionId != null">
                AND edition_id = #{editionId}
            </if>
        </where>
    </select>

    <!-- <select id="listAll" resultMap="UserRoleBaseResultMap">
        SELECT ur.user_id, ur.project_id, ur.role_id
        FROM user_role ur
    </select>

    <resultMap id="UserRoleBaseResultMap" type="com.pop.backend.entity.UserRole">
        <id property="userId" column="user_id"/>
        <id property="projectId" column="project_id"/>
        <id property="roleId" column="role_id"/>
    </resultMap> -->


    <resultMap id="UserRoleBaseResultMap" type="com.pop.backend.entity.UserRole">
        <id property="userRoleId" column="user_role_id"/>
        <result property="userId" column="user_id"/>
        <result property="roleId" column="role_id"/>
        <result property="projectId" column="project_id"/>
        <result property="editionId" column="edition_id"/>
    </resultMap>


    <resultMap id="UserRoleResultMap" type="com.pop.backend.entity.UserRole">
        <id property="userRoleId" column="user_role_id"/>
        <result property="projectId" column="project_id"/>
        <association property="users" javaType="com.pop.backend.entity.Users">
            <id property="userId" column="user_id"/>
            <result property="firstName" column="user_first_name"/>
            <result property="lastName" column="user_last_name"/>
            <result property="email" column="user_email"/>
        </association>
        <association property="roles" javaType="com.pop.backend.entity.Roles">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
        </association>
    </resultMap>

</mapper>
